API_KEY=your_api_key_here

SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

WIFI_SSID=your_wifi_ssid
WIFI_PASSWORD=your_wifi_password

SERVER_URL=http://192.168.x.x:7333

DEVELOPMENT_MODE=false
